<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <div>
    <a class="navbar-brand">Social Web Messaging App</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/post">Post Message</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/wall">Check Your Wall</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/follow">Build Your Connection and Follow</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/timeline">Check What new your friends are doing</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
