<div class="container position-relative" style="margin-top: 150px;">
  <div class="form-group">
    <label for="userName">User Name</label>
    <input type="text" class="form-control" id="userName" placeholder="Demo User" [(ngModel)]="userName">
  </div>

  <div class="form-group">
    <button type="submit" (click)="getMessagesForUser()" class="btn btn-primary">Display Posts On Wall</button>
  </div>

  <div *ngIf="alertMessage">
    <div class="alert alert-danger" role="alert" *ngIf="(alertMessage.alertStatus === 'danger')">
      {{alertMessage.alertMessage}}
    </div>

  <div *ngIf="(alertMessage.alertStatus==='success')">
    <table *ngIf="messages.length>0" class="table table-striped">
      <thead>
      </thead>
      <tr *ngFor=" let message of messages">
        <td  style="word-break: break-all;">{{message.message}}</td>
        <td>{{message.messageCreatedAt | date:'medium'}}</td>
      </tr>
    </table>
  </div>
</div>
